<div class="container">
  <div class="boite" style="margin: 40px">
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://images.pexels.com/photos/159711/books-bookstore-book-reading-159711.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500); margin-bottom: 16px">
      Dashboard
    </div>

    <div class="row">

      <div class="col-md-6" style="font-style: italic">
        <h2><%= link_to 'Je crée un livre', new_book_path, class: "btn btn-primary d-block"  %></h2>
      </div>

      <div class="col-md-6" style="font-style: italic">
        <h2><%= link_to "Je loue un livre", books_path, class: "btn btn-success d-block"  %></h2>
      </div>

    </div>

    <div class="row" style="border-top: solid 1px $green">

      <ul class="list-inline tabs-underlined">
        <li class="tab-underlined active">
          <%= link_to 'Mes livres', dashboard_path(status: 'livres') %>
        </li>
        <li class="tab-underlined">
          <%= link_to 'Mes transactions', dashboard_path(status: 'transactions') %>
        </li>
      </ul>

    </div>
  </div>
  <% if params[:status] == 'livres' %>

    <div style="display: flex;justify-content: center;flex-wrap: wrap">

      <div class="card-contain" style="display: flex;flex-wrap: wrap;justify-content: center;padding-bottom: 50px">
        <% @books.each do |book| %>
        <div class="card-product">
          <%= cl_image_tag book.photo, height: 300, width: 400, crop: :fit %>
          <div class="card-product-infos">
            <h2><%= book.name %></h2>
            <div class="info">
              <div><%= book.price_per_day %> €</div>
              <div><%= book.author %></div>
              <div><%= book.category %></div>
            </div>
            <div style="display: flex;justify-content: space-between;">
              <div><%= link_to 'edit', edit_book_path(book)  %></div>
              <div><%= link_to 'delete', book_path(book), method: :delete  %></div>
            </div>
          </div>
        </div>

        <% end %>
      </div>
    </div>
  </div>
</div>



<% else %>


<div class="container">
  <% @transactions.each do |transaction| %>
  <div class="card">
    <div class="card-footer" style="display: flex;justify-content: space-between">
      <div><%= transaction.book.name %></div>
        <div>
          <%= transaction.date_begin.to_formatted_s(:rfc822)  %>
          <%= transaction.end_date.to_formatted_s(:rfc822) %>
        </div>
        <div> <%= transaction.book.user.email %> </div>
        <div>
          <% if transaction.status == 'av' %>
          <button class="btn btn-danger" disabled="">Attente de validation</button>
          <% end %>
          <% if transaction.status == 'ec' %>
          <button class="btn btn-success" disabled="">En cours</button>
          <% end %>
          <% if transaction.status == 'done' %>
          <button class="btn btn-primary" disabled="">done</button>
          <% end %>
        </div>
    </div>
  </div>
  <% end %>
  <% @transactionsOwner.each do |transaction| %>
  <div class="card">
    <div class="card-footer" style="display: flex;justify-content: space-between">
      <div>    <%= transaction.book.name %></div>

      <div>
        <%= transaction.date_begin.to_formatted_s(:rfc822)  %>
        <%= transaction.end_date.to_formatted_s(:rfc822) %>
      </div>

      <div>
        <% if transaction.status == 'av' %>
        <%= link_to 'à valider', update_dashboard_path('ec',transaction), class: "btn btn-danger"  %>
        <% end %>
        <% if transaction.status == 'ec' %>
        <%= link_to 'en cours', update_dashboard_path('done',transaction), class: "btn btn-success"  %>

        <% end %>
        <% if transaction.status == 'done' %>
        <button class="btn btn-primary" disabled=""> done</button>
        <% end %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<% end %>
