<h1>Edit the book n° <%= @book.id %></h1>

<div class="container">
<%= simple_form_for(@book) do |f| %>
  <%= f.input :name %>
  <%= f.input :author %>
  <%= f.input :price_per_day %>
  <%= f.input :category %>
  <%= f.submit %>
<% end %>
</div>
