<div class="container" style="margin-bottom: 32px">
  <h1 style="color: white">LOOKING FOR A BOOK?</h1>
  <hr>
  <div style="display: flex;justify-content: space-between">
    <%= link_to 'search on map', search_path, class: 'btn btn-sm btn-success'   %>

    <form action="books#index" method='GET'>
      <input type="text" name="search">
      <input type="submit" value="search">
    </form>
  </div>
  <hr>
  <div class="card-contain" style="display: flex;flex-wrap: wrap;justify-content: center;padding-bottom: 50px">
    <% @books.each do |book| %>
    <div class="card-product">
      <%= cl_image_tag book.photo, height: 300, width: 400, crop: :fit %>
      <div class="card-product-infos">
        <h2><%= book.name %></h2>
        <div class="info">
          <div><%= book.price_per_day %> €</div>
          <div><%= book.author %></div>
          <div><%= book.category %></div>
        </div>
        <div style="display: flex;justify-content: space-between;">
          <%= link_to 'louer', new_book_transaction_path(book), class: "btn btn-primary btn-sm"  %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <hr>
  <%= link_to 'return to dashboard', dashboard_path(status: 'livres'), class: 'btn btn-sm btn-info' %>
</div>
