<h1>Books#show for <%= @book.id %> </h1>

<p><span>name : </span><%= @book.name %> </p>
<p><span>price : </span><%= @book.price_per_day %> €</p>
<p><span>author : </span><%= @book.author %> </p>
<p><span>category : </span><%= @book.category %> </p>


