<div class="container">
  <h3><%= @book.name %>, <%= @book.author %></h3>
  <div class="row">
    <div class="col-4">
      <div style="width: 150px;height: 250px;background-color: red"></div>
    </div>

    <%= form_tag({controller: "transactions", action: "create"}, method: "post") do %>
    <div class="col-8">
      <div class="date">
        <input type="date" id="begin" name="begin" value="">
        <input type="date" id="end" name="end" value="">
        <input type="hidden" id="p" value="<%= @book.price_per_day %>"=>
      </div>
      <div>
        <p>Prix : <%= @book.price_per_day %> €/jour</p>
      </div>
      <div>
        <p>Prix total : <span id="price"></span> €</p>
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Je loue</button>
    <% end %>
  </div>
</div>

<script>
  function calcul(b, e, p) {
    e = new Date(e)
    b = new Date(b)
    return ((e - b) / 86400000) * parseInt(p)
  }

  begin = document.getElementById('begin')
  end = document.getElementById('end')
  price = document.getElementById('price')
  p = document.getElementById('p')


  begin.addEventListener('change', (event) => {
    price.innerHTML = calcul(begin.value, end.value, p.value)
  })

  end.addEventListener('change', (event) => {
    price.innerHTML = calcul(begin.value, end.value, p.value)
  })
</script>
